<div class="aide-header-navigation flex">
  <div>
    <h5 class="light">AIST: AI Domain Expert</h5>
  </div>
  <div class="aide-header-navigation-links light">
    <a routerLink="rules" routerLinkActive="active">Seed Rules</a> 
    <a routerLink="inferred-rules" routerLinkActive="active">Inferred Rules</a>
    <a routerLink="questions" routerLinkActive="active">Questions</a>
    <a routerLink="questions" routerLinkActive="active">Labelling</a>
    <a routerLink="questions" routerLinkActive="active">Graph</a>
    <a routerLink="debug" routerLinkActive="active">NLP Analysis</a>
  </div>
</div>
